/* Global styles */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, sans-serif;
   background: linear-gradient(to right, black 0%, black 35%, gray 35%, gray 100%);
   overflow-x: hidden;
}

.left {
   position: absolute;
   display: inline-block;
   width: 33%;
   height: 1800px;
   color: white;
   color: #fff
}

.left img {
   width: 250px;
   position: relative;
   left: 120px;
   top: 5px;
   border-radius: 100%;
   padding: 20px;
}

.text {
   position: absolute;
   left: 150px;
   margin-top: 50px;
   margin-right: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   text-align: center;
   font-size: 40px;
}

/* Media queries */

/* For screens larger than 1200px */
@media only screen and (min-width: 1200px) {
   .left {
      width: 25%;
   }

   .text {
      font-size: 50px;
   }
}

/* For screens between 992px and 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .left {
      width: 30%;
   }

   .text {
      font-size: 40px;
   }
}

/* For screens between 768px and 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .left {
      width: 35%;
   }

   .text {
      font-size: 35px;
   }
}

/* For screens smaller than 767px */
@media only screen and (max-width: 767px) {
   .left {
      width: 40%;
   }

   .text {
      font-size: 30px;
   }
}

/* Other styles */

.left hr {
   position: relative;
   top: 85px;
   width: 68%;
   left: 31%;
   margin-top: 10px;
   display: inline-block;
}

.new hr {
   position: relative;
   top: 170px;
   width: 68%;
   left: 31%;
   margin-top: 10px;
   display: inline-block;
}

.contact {
   margin-top: 35px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 75px;
   left: 155px;
   display: inline-block;
   width: 40%;
}

h6 {
   margin: -1px;
   color: rgb(177, 174, 174);
}

.email {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 75px;
   left: 155px;
   display: block;
   width: 40%;
}

.adress {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 80px;
   left: 155px;
   display: block;
   width: 40%;
}

.text2 {
   position: absolute;
   left: 150px;
   top: 635px;
   margin: 5px;
   text-align: center;
   font-size: 40px;
}

.fname {
   position: relative;
   margin: 5px;
   padding: 5px;
   top: 0px;
   left: 500px;
   font-size: 100px;
}

.year {
   margin-top: 35px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 75px;
   left: 155px;
   display: inline-block;
   width: 50%;
   top: 150px;
}

.degree {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 160px;
   left: 155px;
   display: block;
   width: 50%;
}

.univ {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 175px;
   left: 155px;
   display: block;
   width: 60%;
}

.time1 {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 185px;
   left: 155px;
   display: block;
   width: 60%;
}

.time {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 185px;
   left: 155px;
   display: block;
   width: 60%;
}

.year1 {
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   left: 155px;
   display: inline-block;
   width: 50%;
   top: 150px;
}

.degree1 {
   margin: 5px;
   font-size: 25px;
   text-align: left;
   position: relative;
   top: 160px;
   left: 155px;
   display: block;

}